<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="restAssuredOperation">
		<classes>
			<class name="apiOperations.PostMethod" />
			<class name="apiOperations.GetMethod" />
			<class name="apiOperations.PutMethod" />
			

		</classes>
	</test> <!--
	restAssuredOperation -->
</suite> <!--
Suite -->
